.expense-list {
    list-style: none;
}

.expense-list-default {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 2rem;
}